.site-footer {
  margin: 0 10%;
  padding: 1em 2em;
  color: #fff;
  text-shadow: -1px 0 #000000,0 1px #000000, 1px 0 #000000,0 -1px #000000;
  background: $color__background-content;
  text-align: center;
}