.site-header {
  position: relative;
  background-color: $color__background-header;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0,0,0,1);
}

.site-branding {
  margin-bottom: 1em;
}

.custom-logo-link {
  vertical-align: middle;
  height: 80px;
  width: 80px;
}

.site-branding__text {
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
}

.site-title {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  font-family: Cooper, sans-serif;
  a {
    color: white;
    text-decoration: none;
  }
}

.site-description {
  margin: 0;
  font-size: .9em;
  font-style: italic;
  font-weight: 600;
}

.social-media {
  font-family: 'FontAwesome';
  font-size: 2em;
  float: right;
  margin-top: .4em;
  a {
    text-decoration: none;
    margin: .3em;
  }

  .fa-twitter {
    color: #38A1F3;
  }

  .fa-facebook-f {
    color: #3b5998;
  }

  .fa-instagram {
    color: #5851DB;
  }

  .fa-youtube {
    color: #ff0000;
  }

}

.hidden {
  display: none;
}

@media screen and (min-width: $query__medium) {
  .site-header {}


  .site-navigation {}

  .site-description{
    text-transform: initial;
  }
}

/*
Header Menu
*/
@import "header-menu";