.content-area {
	margin: 0 10%;
	padding: 1em 2em;
	background: $color__background-content;
	height: 100%;
}

.entry-header {
	display: none;
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#page {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#content {
	flex: 1;
}
